.listmusic {
    border-left: 1px solid rgba(255, 255, 255, 0.1);

    .nextsong__option {
        height: 70px;
        display: flex;
        align-items: center;
        color: var(--white-color);

        .nextsong__option-wrapper {
            width: 230px;
            height: 34px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #4B206E;
            margin-left: 5px;
            border-radius: 50px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
            font-size: 12px;

            .nextsong__option-wrapper--active {
                background-color: #816399;
            }

            .nextsong__option-wrapper-listplay {
                width: 120px;
                padding: 0 4px;
                height: 28px;
                line-height: 30px;
                text-align: center;
                margin: 0 3px;
                cursor: pointer;
                border-radius: 30px;
            }
        }

        .nextsong__option-alarm,
        .nextsong__option-more {
            background-color: rgba(255, 255, 255, 0.1);
            padding: 7px 9px;
            margin-left: 7px;
            font-size: 16px;
            border-radius: 50%;
            cursor: pointer;
        }
    }

    .wrap__nextsong__box {
        flex: 1;
        position: relative;

        .nextsong__box {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            overflow-y: scroll;

            .wrapnextsong__box {
                padding: 0;
                list-style: none;

                .nextsong__fist {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    user-select: none;
                }

            }

            .nextsong__last-heading {
                color: #fff;
                margin: 20px 0 10px 10px;
                user-select: none;
            }

            .nextsong__last {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                user-select: none;
                margin-bottom: 10px;

                .nextsong__last-list {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                }
            }
        }

        .nextsong__box::-webkit-scrollbar {
            display: none;
        }

    }
}