@use "../../colors.scss";

.wrappage {
    background-image: url(colors.$backgroundimage);
    background-color: colors.$backgroundcolor;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;

    .content {
        margin: 0 120px;

        .logo {
            width: max-content;
            height: max-content;
            margin: auto;
            margin-top: 15px;

            img {
                width: 175px;
            }
        }

        .menuoption {
            margin-top: 83px;

            .row1,
            .row2 {
                display: flex;
                justify-content: space-around;
                margin-top: 30px;

                .option1,
                .option2,
                .option3,
                .option4 {
                    width: 47%;
                    height: 248px;
                    border-radius: 8px;
                    background-color: rgb(31 41 55 / 0.5);
                    background: linear-gradient(to bottom left, rgb(55 65 81 / 0.5), rgb(0 0 0 / 0));
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 35px;
                    color: #fff;
                    cursor: pointer;
                }
            }
        }
    }
}